LFOBalancer/bin
*.suo
LFOBalancer/LFOBalancerPostBuild
*.pidb
*.userprefs
*.sln
.idea
*.zip
LFOBalancer/.vs
LFOBalancer/AssemblyInfo.cs
LFOBalancer/obj
LFOBalancer/KSP.log
LFOBalancer/env/*
LFOBalancer/postBuildRelease.sh
LFOBalancer/postBuild.sh
