LFOBalancer/bin
*.suo
LFOBalancer/LFOBalancerPostBuild
*.pidb
*.userprefs
*.sln
LFOBalancer/.idea
LFOBalancer/.vs
LFOBalancer/Properties
LFOBalancer/AssemblyInfo.cs
LFOBalancer/postBuild.sh
LFOBalancer/GameData
LFOBalancer/obj
LFOBalancer/KSP.log
LFOBalancer/env/*
